* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#aaaaaa));
  background: linear-gradient(#eee, #aaaaaa);
  min-height: 100vh;
  overflow-x: hidden;
}

nav {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 5fr 2fr;
      grid-template-columns: 2fr 5fr 2fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em 0;
}

nav .search-field h2 {
  margin-left: 2em;
  font-weight: 200;
  color: crimson;
  -webkit-box-shadow: 0 3px 2px -2px;
          box-shadow: 0 3px 2px -2px;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
}

nav .nav-title {
  font-size: 1em;
  color: #b49900;
  text-shadow: 2px 3px 5px rgba(0, 0, 0, 0.15);
  text-align: center;
  text-transform: uppercase;
}

nav .nav-title span {
  font-size: 2em;
  color: black;
}

nav .auth-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

nav .auth-btns .login-btn {
  padding: 0.5em 2em;
  font-size: 1em;
  color: #008080;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav .auth-btns .login-btn:hover {
  -webkit-box-shadow: #1da779 0px 20px 30px -10px;
          box-shadow: #1da779 0px 20px 30px -10px;
}

nav .auth-btns .register-btn {
  padding: 0.5em 2em;
  margin-left: 0.5em;
  font-size: 1em;
  color: #d03131;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s -webkit-box-shadow;
  transition: 0.3s -webkit-box-shadow;
  transition: 0.3s box-shadow;
  transition: 0.3s box-shadow, 0.3s -webkit-box-shadow;
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

nav .auth-btns .register-btn:hover {
  -webkit-box-shadow: #b63a3a 0px 20px 30px -10px;
          box-shadow: #b63a3a 0px 20px 30px -10px;
}

.nav-container {
  background: #edde53;
  padding: 0.8em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
          box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.nav-container .nav-link {
  color: #4e4e4e;
  padding: 0.5em 3em;
  font-weight: 400;
}

.nav-container .middle-link {
  border-left: 1px solid rgba(255, 255, 255, 0.7);
  border-right: 1px solid rgba(255, 255, 255, 0.7);
}

.hero-section {
  min-height: 70vh;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.hero-carousel-container {
  border: 5px solid gold;
  padding: 10em;
  width: 100vw;
  text-align: center;
}

.brand-cards-container {
  place-content: center;
  display: -ms-grid;
  display: grid;
  margin-top: 3em;
  gap: 3rem;
  -ms-grid-columns: (250px)[auto-fill];
      grid-template-columns: repeat(auto-fill, 250px);
  height: 100%;
}

img {
  width: 200px;
  height: 100px;
}

.card {
  background: #8a92cf;
  padding: 8rem 0 0;
  max-width: 40ch;
  color: #052025;
  border-radius: 0.5rem;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(#dfdfe6), color-stop(20%, #e7e7ec), to(#99adac));
  background: linear-gradient(#dfdfe6, #e7e7ec 20%, #99adac);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 1px 3px 5px -2px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
          box-shadow: rgba(50, 50, 93, 0.25) 1px 3px 5px -2px, rgba(0, 0, 0, 0.3) 1px 1px 3px -1px;
  -webkit-transition: -webkit-box-shadow 0.5s ease;
  transition: -webkit-box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease, -webkit-box-shadow 0.5s ease;
}

.card:hover {
  -webkit-box-shadow: #2f3130 0px 20px 30px -10px;
          box-shadow: #2f3130 0px 20px 30px -10px;
}

.card-content {
  padding: 1.5rem;
}

.card-content .card-title {
  font-size: 1.5em;
  font-weight: 300;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
}

.card-content .card-body {
  font-weight: 200;
  margin: 0.5em 0;
}

.card-title::after {
  content: '';
  position: absolute;
  left: calc(1.5rem * -1);
  bottom: 0;
  height: 2px;
  width: calc(100% + 1.5rem);
  background: #0a737a;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.card:hover .card-title::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.card-btn {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  font-size: 1em;
  font-weight: 100;
  border-radius: 0.3em;
  background: transparent;
  padding: 0.5em 0.5em;
  -webkit-transition: 0.3s background ease;
  transition: 0.3s background ease;
  margin: 0.3em;
}

.info {
  border: 1px solid #118383;
  color: #125757;
}

.info:hover {
  background: #107777;
  color: #eee;
  border: none;
}

.guitars {
  border: 1px solid #9031dd;
  color: #861bdd;
}

.guitars:hover {
  background: #861bdd;
  color: #eee;
}

footer {
  text-align: center;
  background: #d6d6d6;
  padding: 3em;
  border-top: 1px solid #888888;
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */